<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p>
        —
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        {% if page.language == "English" %}
        <h3 class="text-light">
          Contact Me
        </h3>

        <p class="text-light">
          I like to be contacted for new projects, collaborations, and to speak about:<br/>
          Innovation, Open-Source and Entrepreneurship. 

          {% if page.title != "Talks & Media" %}
          <br/><br/>
          Here is a <a href="{% link media.md %}">list of my talks & media mentions</a> over the years.
          {% endif %}
        </p>

        <p class="text-light mb-0">
          If you would like to contact me, please do so through any of the following:<br/>
        {% else %}
        <h3 class="text-light">
          Contacto
        </h3>

        <p class="text-light">
          Me gusta ser contactado para proyectos nuevos, colaboraciones y para hablar de:<br/>
          Innovación, Open-Source y Emprendimiento.

          {% if page.title != "Conferencias y Medios" %}
          <br/><br/>
          Esta es una <a href="{% link medios.md %}">lista de mis pláticas y menciones en medios</a> a lo largo de los años.
          {% endif %}
        </p>

        <p class="text-light mb-0">
          Si te gustaría contactarme, por favor hazlo a traves de cualquiera de las siguientes:<br/>
        {% endif %}
          <div class="mt-1">
            <a href="https://instagram.com/bustavo" target="_blank">
              <img alt="Instagram" src="https://img.shields.io/badge/bustavo-222222?logo=instagram&logoColor=a9ff00" style="min-height: 30px; margin-bottom: 3px;">
            </a>
            <a href="https://github.com/bustavo" target="_blank">
              <img alt="GitHub" src="https://img.shields.io/badge/bustavo-222222?logo=github&logoColor=a9ff00" style="min-height: 30px; margin-bottom: 3px;">
            </a>
            <a href="https://x.com/bustavo" target="_blank">
              <img alt="X" src="https://img.shields.io/badge/bustavo-222222?logo=x&logoColor=a9ff00" style="min-height: 30px; margin-bottom: 3px;">
            </a>
            <a href="http://tiktok.com/@bustavo.com" target="_blank">
              <img alt="TikTok" src="https://img.shields.io/badge/bustavo-222222?logo=tiktok&logoColor=a9ff00" style="min-height: 30px; margin-bottom: 3px;">
            </a>
          </div>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mb-5 mt-5">
        <a href="https://bustavo.com">bustavo.com</a>
      </div>
    </div>
  </div>
</div>
